<div class="education">
  <div class="heading">
      Education
  </div>

  <div>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
      <!-- The Timeline -->
      
      <ul class="timeline">
      
        <!-- Item 1 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Vira College of Engineering</span>
              <span class="time-wrapper"><span class="time">2008 - 2012</span></span>
            </div>
            <div class="desc">Bachelor of Technology in Electronics & communication</div>
          </div>
        </li>
        
      
        <!-- Item 3 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Modern School, Noida</span>
              <span class="time-wrapper"><span class="time">1994 - 2008</span></span>
            </div>
            <div class="desc">Secured 87.6% in 10th Standard and 66% in 12th Standard (PCM)</div>
          </div>
        </li>
        
      </ul>
      
  </div>
</div>