.education {
  height: 100%;
  background-image: url("../../assets/education.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapper {
  margin: 50px 50px;
  position: absolute;
      top: 430vh;
      left:20%;
      right:20%;
}

.cabinet {
  width: 428px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  display: inline-block;
  margin: 44px;
}

.cabinet div {
  position: absolute;
  width: 428px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #fff;
  -o-box-pack: center;
  justify-content: center;
  -o-box-align: center;
  align-items: center;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
  display: inline-grid;
  padding: 15px;
}

.cabinet .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cabinet.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.cabinet p {
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

span {
  text-align: right;
  font-size: 10px;
}
