<div class="experience">
    <div class="heading">
        Experience
    </div>

    <div class="wrapper">
        <div class="cabinet">
        <div class="item">
            <img class="delete tb-icon" src="../../assets/siemens-logo.png">
          <hr class="divider">
          Senior Software Developer
        </div>
        <div class="details">
            <p>Oct 2014 - Present . 2yrs 4 months</p>
            Working experience in PHP, Javascript, Angular, JQuery, Node, HTML5, CSS, and MySQL.
        </div>
      </div>
      <div class="cabinet">
         <div class="item">
            <img class="delete tb-icon" src="../../assets/cybage-logo.png">
          <hr class="divider">
          Software Developer
        </div>
        <div class="details">
            <p>March 2014 - Sep 2016 .  2yrs 7 months</p>
            Working experience in Perl, Oracle DB, Microsoft SQL server, Javascript.
        </div>
      </div>
      </div>
      
</div>