.experience {
    height: 100%;
    background-image: url("../../assets/experience.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}


.wrapper {
    margin-top: 5%;
    position: absolute;
        top: 330vh;
        left:20%;
  }
  
  .cabinet {
    background-color: white;
    font-family: Raleway, sans-serif;
    width: 37%;
    height: 162px;
    color: rgb(185, 185, 185);
    display: inline-block;
    margin: 1%;
    box-shadow: 5px 8px 10px grey;
    border-radius: 10px;
    color: #131411;
    text-align: center;
    padding: 1%;
    transition: height .5s ease;
  }
  
  .divider {
    border-bottom: 1px solid;
  }
  
  .exp {
     text-shadow: 5px 8px 10px grey;
    font-size: 40px;
    margin: 0 8px 0 0;
    font-weight: 700;
  }
  
  
  .cabinet:hover {
    height: 250px;

  }

  .cabinet:hover .details {
    opacity: 1;
  }

  .details {
    opacity: 0;
    transition: opacity  1s ease;
  }