.contact1 {
    height: 85%;
    background-image: url("../../assets/contact1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    height: 50%;
    background-image: url("../../assets/contact.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: 5%;
    position: absolute;
        top: 530vh;
        left: 15%;
    text-align: center;
  }

.fab {
    font-size: 74px;
    color: white;
    margin: 50px;
    transition: all .5s;  
}

.fab:hover {
    transform: scale(1.2);
}