<div class="contact1">
    <div class="heading">
        Contact
    </div>
    <div class="wrapper">
        <a href='mailto:ece.manshi@gmail.com'><i class="fab far fa-envelope"></i></a>
        <a href='https://github.com/manshis' target='_blank'><i class="fab fa-github"></i></a>
        <a href='https://www.linkedin.com/in/mansi-sharma-9536473b/' target='_blank'><i class="fab fa-linkedin"></i></a>
        <a href='https://codepen.io/manshis/#' target='_blank'><i class="fab fa-codepen"></i></a>
        <a href='https://www.instagram.com/imansisharma/?hl=en' target='_blank'><i class="fab fa-instagram"></i></a>
        <a href='https://www.facebook.com/mansibharadwaj' target='_blank'><i class="fab fa-facebook-square"></i></a>
            
        
           
            
            
    </div>
</div>
<div class="contact">
</div>