.parallax { 
    /* The image used */
    background-image: url("../../assets/top.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.animate-fade-in {
    opacity: 0;
    transform: translateY(-4rem);
    animation: no-transform 2s .5s cubic-bezier(0, 0.5, 0, 1)  forwards;
}

.animate-pop-in {
    animation: no-transform 2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }


@keyframes no-transform {
    100% {
        transform: none;
        opacity: 1
    }
}

.name {
    position: absolute;
        left: 0;
        right: 0;
        top : 30vh;
    text-align: center;
    padding: 20px;
    background-color: black;
}

.space {
    width: 2px;
}

.salu {
    font-size: 60px;
    animation-delay: .5s;
    color: white;
}

.intro {
    font-size: 20px;
    animation-delay: 1s;
    color: white
}

span.nobr {
    font-size: 25px;
}


.expand {
    position: absolute;
    bottom: 4vh;
    left: 0;
    right: 0;
  text-align: center;
  z-index: 10;
}

.animate-pulse {
    opacity: 0;
    transform: translateY(-4rem);
    animation: no-transform 2s ease-out forwards infinite;
}