<div class="parallax">
  <div class="name">
    <div class="salu">
      <span class="h">H</span>
      <span class="i">i</span><span class=nobr>,&nbsp;</span> 
      <span class="i1">I</span><span class=nobr>&nbsp;</span> 
      <span class="a">a</span>
      <span class="m">m</span><span class=nobr>&nbsp;</span>
      <span class="m1"> M</span>
      <span class="a1">a</span>
      <span class="n">n</span>
      <span class="s">s</span>
      <span class="i2">i</span>
    </div>
    <div class="intro"> I am a web developer and designer.</div>
  </div>
<div class="expand">
  <mat-icon style="font-size: 84px; color: #1fc269" (click)="scrollDown()">expand_more</mat-icon>
</div>
</div>
